*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	margin:0;
    padding:0;
   
}
h1,h2,body{
	font-family:"Open Sans",sans-serif;
	font-weight:300;
}
h2{
	font-weight:800;
	font-size:2em;
}
p{
	font-size: 1.4em;
}
header{
	width:auto;
	padding:0px;
	margin:0;
	height:100%;
	
}
 #logo{
	margin-left: 80px;
	margin-top: 40px;
	margin-bottom: 50px;
}
nav{
	position:relative;
	top:-160px;

}
nav ul{
	list-style: none;
	margin:30px 0;
	text-align: center;
}
nav ul li{
	display:inline;
	font-size: 1.4em;
	font-weight: 700;
	cursor:pointer;
	margin-right: 5px;
	

}

nav ul li a{
	text-decoration: none;
	color:#000;
	margin-right: 15px;
	-webkit-transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -o-transition: color 0.4s ease;
        -ms-transition: color 0.4s ease;
        transition: color 0.4s ease;
}
nav ul li:after{
	content:"/";
	margin-right: 15px;
}
nav ul li:last-child:after{
	content:" ";
}
nav ul li a:hover{
	color:#ccc;
	-webkit-transition: color 0.4s ease;
        -moz-transition: color 0.4s ease;
        -o-transition: color 0.4s ease;
        -ms-transition: color 0.4s ease;
        transition: color 0.4s ease;
}

#lock{
	margin-right: 4px;
}

.btn{
	background-color: #C8C9C7;
	display:block;
	width:20%;
	padding:10px 7px 10px 5px;
	position:relative;
	left:80px;
	text-decoration: none;
	text-align: center;
	color:#666633;
	font-weight: 400;
}
.greenbtn{
	background-color: rgb(100, 204, 201);
	display:block;
	width:40%;
	color:#666633;
	position:relative;
	top:-41px;
	left:158px;
	font-weight: 400;
	padding:10px 20px 9px 20px;
	text-decoration: none;
}

@media screen and (min-width:760px){
	#logo{
		margin-top:30px;
		margin-left: 150px;
	}
	nav{
		margin-top: 50px;
	}
	.btn{
		width:8%;
		position:relative;
		display:block;
		float:right;
		left:-360px;
		top:30px;
	}
	.greenbtn{
		width:13%;
		padding:10px 17px 9px 27px;
		float:right;
		top:30px;
		display:block;
		position:relative;
		left:-50px;
	}
	.main{
		height:100%;
	}
	.main img{
		margin:0 auto;
		display:block;
		text-align: center;
		margin-bottom: 40px;
	}
	.main .button{
		width:20%;
		display:block;
		position:relative;
		margin:5% auto;
		left:-10px;
	}
	.testimony hr{
		position:relative;
		left:110px;
		width:84%;
	}
	.action p{
		display:block;
		position:relative;
		top:20px;
	}
	.action .actionbtn{
		position:relative;
		top:-50px;
		width:38%;
	}
}
.main{
	background-color: #cccccc;
	height:100%;

}
.main h1{
	font-size:3em;
	text-align: center;
	color:#fff;
	margin-top: 20px;
	font-weight: 800;
}
.main h3{
	font-size:1.7em;
	margin-top: 30px;
	text-align: center;
}
.main img{
	margin-top: 30px;
}

.button{
	background-color: rgb(100, 204, 201);
	display:block;
	width:68%; 
	position:relative;
	top:5px;
	color:#666;
	padding:10px 20px 9px 20px;
	left:50px;
	text-decoration: none;
	font-weight:400;
	text-align: center;
}
.green{
	background-color: rgb(64, 193, 172);
	
}
.icon{
	text-align: center;
}
.icon span{
	display:block;
	text-align: center;
	font-size:1.7em;
}
hr{
	color:#666;
	border:3px solid #666;
	width:70%;
	position:relative;
	left:50px;
	
}
.bottom{
	padding:20px;
}
p.author, p.small{
	text-align: center;
}
p.author:before{
	content:" ";
	background: url("../img/left.png");
	width:42px;
	height:65px;
	display:block;
	position:absolute;
	left:-50px;
	top:50px;
	margin-left:30px;
}
p.author:after{
	content:" ";
	background: url("../img/right.png");
	width:42px;
	height:65px;
	display:block;
	position:absolute;
	right:-30px;
	top:50px;
	margin-right:10px;
}
p.author{
	padding:30px;
	font-size: 1.7em;

	margin-right: 30px;
}
p.small{
	color:#a8a8a8;
}
.action h1{
	font-weight:800;
	font-size: 3em;
	text-align: center;
	color:#fff;
	margin-top:160px;
}
.action{
	background-color:#333;
	height:auto;
	padding:0;
	margin:0;
}
.action p{
	color:#999;
	text-align: center;
	margin-top: 20px;
}
.actionbtn{
	background-color: rgb(100, 204, 201);
	display:block;
	width:58%; 
	position:relative;
	top:5px;
	color:#666;
	padding:19px 20px 19px 20px;
	margin:13% auto;
	text-decoration: none;
	font-weight:400;
	text-align: center;

}